{
  "presets": [ "react" ,["latest", { "modules": false}]],
  "plugins":  [ ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "imports": "./imports",
      }
    }] ,"transform-class-properties", "transform-object-rest-spread"],

}
